* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #dde9dd;
}

.big-three {
    display: flex;
    justify-content: flex-start;
}

.side-bar {
  display: inline;
  position: fixed;
  height: 100%;
  width: 200px;
  background-color: #ffff;
  border-right: 1px solid #979494;
  left: 0;
}

.side-bar img {
  width: 150px;
  margin: 20px;
}

.side-bar-item {
  margin-top: 5px;
  margin-bottom: 30px;
  margin-left: 20px;
}

.side-bar-item:hover a {
  color: #9cc1e5;
}

.side-bar-item a {
  text-decoration: none;
  color: black;
}

.side-bar-item a i {
  margin-right: 10px;
}

.log-out {
  margin-top: 170px;
  margin-left: 20px;
}

.log-out:hover a {
  color: #9cc1e5;
}

.log-out a {
  text-decoration: none;
  color: black;
}

.log-out a i {
  margin-right: 10px;
}


/* Dashboard area */
.dashboard {
  margin-left: 200px;  /* Sesuaikan dengan ukuran sidebar */
  padding: 30px;
  width: calc(100% - 10px); /* Sesuaikan dengan sidebar */
  background-color: #eaf5e6;
  min-height: 100vh;
}

/* Judul halaman */
.dashboard h1 {
  font-size: 32px;
  color: #2d3e50;
  margin-bottom: 30px;
}

/* Kotak untuk dashboard stats */
.kotak {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}

/* Masing-masing section */
.dashboard-section1, .dashboard-section2, .dashboard-section3 {
  background-color: #DDE3E9;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 300px;
  height: 150px;
}


.dashboard-section h2 {
  font-size: 30px;
  color: #333;
  margin-bottom: 10px;
}

.pr{
  display: flex;
  padding: 40px;
  font-size: 25px;
  color: #769dc6;
  font-weight: bold;
}
.rekap{
  display: flex;
  padding: 300px;
  margin-left: 650px;
}
.rekap-button{
  width: 70px;
  height: 30px;
}

/* Responsif untuk ukuran layar kecil */
@media (max-width: 750px) {
  .container {
      flex-direction: column;
  }

  .dashboard {
      margin-left: 0;
      width: 100%;
      padding: 20px;
  }
}
