body {
    font-family: Abhaya Libre ExtraBold, Regular;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f4f8;
}

.container {
    display: flex;
    background-color: #f0f4f8; /* Sesuaikan warna background container */
    width: 100%; /* Buat lebar penuh */
    height: 100%;
    box-shadow: none; /* Hapus bayangan */
    border-radius: 0; /* Hapus sudut melengkung */
    overflow: visible; /* Hapus pengaturan overflow */
}

.left {
    background-color: #ffff; /* Hapus warna background pada bagian kiri */
    padding: 40px;
    display: flex;
    width: 500px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.left img {
    width: 200px;
    height: auto;
    margin: 10px 0 20px 0;
}

.left h1 {
    font-size: 36px;
    margin: 0;
    color: #000;
}

.left p {
    font-size: 18px;
    margin: 10px 0;
    color: #333;
}

.right {
    background-color: transparent; /* Hapus warna background pada bagian kanan */
    padding: 50px;
    width: 50%; /* Sesuaikan lebar */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.right .avatar img {
    width: 120px;
    height: 120px;
}

.right input {
    width: 100%;
    padding: 10px;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-family: Abhaya Libre ExtraBold, Regular;
}

.right button {
    width: 100%;
    padding: 10px;
    background-color: #a1b5c4;
    color: black;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    font-family: Abhaya Libre ExtraBold, Regular;
}
