* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #ffff;
}
.container2{
  margin-left: 250px;
}
.big-three {
  display: flex;
  justify-content: flex-start;
}

.side-bar {
  display: inline;
  position: fixed;
  height: 100%;
  width: 200px;
  background-color: #ffff;
  border-right: 1px solid #979494;
  left: 0;
}

.side-bar img {
  width: 150px;
  margin: 20px;
}

.side-bar-item {
  margin-top: 5px;
  margin-bottom: 30px;
  margin-left: 20px;
}

.side-bar-item:hover a {
  color: #9cc1e5;
}

.side-bar-item a {
  text-decoration: none;
  color: black;
}

.side-bar-item a i {
  margin-right: 10px;
}

.log-out {
  margin-top: 170px;
  margin-left: 20px;
}

.log-out:hover a {
  color: #9cc1e5;
}

.log-out a {
  text-decoration: none;
  color: black;
}

.log-out a i {
  margin-right: 10px;
}
.pembeli{
  width: 60%;
  padding: 10px;
  margin: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #DDE9DD 29%;
}

.payment-methods, .kasir {
  width: 60%;
  padding: 10px;
  margin: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #DDE9DD 29%;
}

.kasir {
  width: 60%;
  padding: 10px;
  margin: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #DDE9DD 29%;
}
.pembeli :required{
  background-color: #9CC1E5;
}

.pembeli h2, .payment-methods h2, .kasir h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

.pembeli button, .payment-methods button {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  background-color: #a0c4ff;
  color: #fff;
}

.pembeli input{
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.input-button:hover{
  background-color: #007bff;
}
.kasir-info p {
  font-size: 14px;
  color: #333;
}

.bill-section {
  margin-top: 43px;
  margin-right: 70px;
  position: absolute;
  right: 6px;
  top: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 35%;
  flex: 1;
  background-color: #e9f2e9;
  padding: 15px;
  border-radius: 8px;
}
.bill-section h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.bill-items p, .total p {
  font-size: 16px;
  color: #333;
  margin-bottom: 8px;
}

.total {
  margin-top: 10px;
  font-weight: bold;
}

.complete-payment {
  width: 100%;
  padding: 10px;
  margin-top: 20px;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  background-color: #a0c4ff;
  color: #fff;
  cursor: pointer;
}

.main-content {
  margin-left: 250px;
  margin-top: 50px;
}